<section class="container-form">
  <h2 style="text-align: center">Bienvenido puede registrarse</h2>

  <form
    class="container-form__login-form"
    [formGroup]="myForm"
    (ngSubmit)="submit()"
  >
    <input
      type="text"
      class="container-form__input"
      placeholder="Ingrese su correo"
      formControlName="email"
    />
    <input
      type="password"
      class="container-form__input"
      placeholder="Ingrese su contraseña"
      formControlName="password"
    />

    {{ myForm.valid }}
    <button type="submit" class="container-form__button">Registrar</button>

    <span class="container-form__redirect">
      ¿Ya tienes una cuenta? <a routerLink="/auth/login">Iniciar Sesión</a>
    </span>
  </form>
</section>
