<section class="container-form">
  <h2 style="text-align: center">Bienvenido</h2>

  <form class="container-form__login-form">
    <input
      type="text"
      class="container-form__input"
      placeholder="Ingrese su correo"
    />
    <input
      type="password"
      class="container-form__input"
      placeholder="Ingrese su contraseña"
    />

    <button class="container-form__button">Ingresar</button>

    <span class="container-form__redirect">
      ¿Todavía no tienes cuenta todavía? <a routerLink="#">Registraté aquí</a>
    </span>
  </form>
</section>
