<!-- Mostrar los datos o información del banco cuando no esté cargando -->

<img
  src="../../../../assets/icons/Infinity-1s-200px.svg"
  alt=""
  class="loadin-icon"
  *ngIf="isLoading"
/>
<div *ngIf="!isLoading">
  <h2>{{ title }}</h2>

  KPI : {{ balance }}

  <br />

  <br />

  <div class="tabla">
    <div class="fila-header">
      <div class="celda"><b>Monto</b></div>
      <div class="celda"><b>Fecha</b></div>
      <div class="celda"><b>Tipo</b></div>
      <div class="celda"><b>Moneda</b></div>
    </div>

    <div *ngFor="let item of resultsTotal" class="fila">
      <div class="celda">{{ item.amount | currency }}</div>
      <div class="celda">{{ item.value_date }}</div>
      <div class="celda">{{ item.type }}</div>
      <div class="celda">{{ item.currency }}</div>
    </div>
  </div>
</div>
